@font-face {
font-family: "feather-bold";
src: url("feather_bold.ttf") format("truetype");
}
body {
	padding: 0px;
	margin: 0px;
	font-family: "feather-bold";
	height: 100%;
}
#navigator {
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 10vh;
	background-color: #235390;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
#dropdown {
	font-family: arial;
	width: 500px;
	height: 580px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	position: fixed;
	background-color: white;
	right: 200px;
	top: 70px;
	border-radius: 15px;
	z-index: 1000;
	display: none;
	padding-top: 5px;
}
#dropdown div {
	width: 170px;
	height: 30px;
	display: flex;
	align-items: center;
	margin: 7px 30px;
	cursor: pointer;
	padding-left: 20px;
	border-radius: 10px;
}
#dropdown div:hover {
	background-color: lightgray;
}
#dropdown img {
	height: 30px;
	width: 25px;
	margin-right: 10px;
	border-radius: 3px;
}
#navigator img {
	height: 50%;
	align-self: center;
}
#ulsuud {
	height: 10vh;
	color: white;
	font-size: 14px;
	cursor: pointer;
	display: flex;
	align-items: center;
}
#hunter:hover #dropdown {
	display: flex;
} 
#earth {
	margin-top: 10vh;
	height: 80vh;
	background-image: url("photos/star.png");
	background-repeat: repeat;
	display: flex;
	flex-direction: column;
	z-index: -3;
}
#earth div img {
	margin-left: 13vw;
	margin-top: 120px;
	width: 20vw;
}
#account {
	width: 40vw;
	text-align: center;
	color: white;
	margin-left: 40vw;
	margin-top: -40vh;
	font-size: 27px;
}
#button1 {
	width: 320px;
	height: 50px;
	background-color: #58cc02;
	color: white;
	border-radius: 15px;
	border: 0;
	border-bottom: 4px solid green;
	font-weight: bold;
	cursor: pointer;
}
#button2 {
	margin-top: 15px;
	width: 320px;
	height: 50px;
	background-color: #235390;
	color: white;
	border-radius: 15px;
	border: 2px solid #042856;
	border-bottom: 4px solid #042856;
	font-weight: bold;
	cursor: pointer;
}
#button1:hover {
	background-color: #61e002;
	transition: 0.5s;
}
#button2:hover {
	background-color: #1f4b82;
	transition: 0.5s;
}
#language {
	width: 100%;
	height: 10vh;
	background-color: #0a4a82;
	display: flex;
	flex-direction: row;
	align-items: : center;
	justify-content: center;
	color: white;
}
#language div {
	cursor: pointer;
	display: flex;
	align-items: center;
}
#language img {
	margin: auto 10px;
	width: 30px;
	margin-right: 5px;
	border-radius: 5px;
	border: 2px solid white;
}
.sum {
	font-size: 30px;
	margin-right: 20px;
	margin-left: 20px;
}
#section1 {
	width: 100%;
	height: 32vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
#section1 img {
	width: 10vw;
}
#section1 .text {
	width: 45vw;
	margin-left: 30px;
}
hr {
	width: 70vw;
}
#section2 > div {
	width: 100%;
	height: 60px;
	display: flex;
	text-align: center;
	justify-content: center;
	margin-bottom: 30px;
}
#gurval {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
#gurval div {
	width: 300px;
	height: 340px;
	text-align: left;
}
#gurval div:nth-child(2) {
	display: flex;
	justify-content: center;
	align-items: center;
}
#gurval img {
	width: 80%;
}
#section3 {
	width: 100%;
	height: 32vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
#section3 img {
	width: 10vw;
}
#section3 .text {
	width: 45vw;
	margin-left: 30px;
}
#section4 {
	width: 100%;
	height: 32vh;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
	margin-top: 20px;
}
#section4 img {
	width: 10vw;
}
#section4 .text {
	width: 45vw;
	margin-right: 30px;
}
#section4 button {
	margin-top: 10px;
	border: 0px;
	background-color: white;
	cursor: pointer;
	width: 180px;
}
#section5 {
	width: 100%;
	height: 32vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
#section5 img {
	width: 18vw;
}
#section5 .text {
	width: 45vw;
	margin-left: 30px;
}
#section6 {
	width: 100%;
	height: 32vh;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
	margin-top: 20px;
}
#section6 img {
	width: 10vw;
}
#section6 .text {
	width: 45vw;
	margin-right: 30px;
}
#section7 {
	width: 100%;
	height: 32vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
#section7 img {
	width: 15vw;
}
#section7 .text {
	width: 45vw;
	margin-left: 30px;
}
#footer {
	background-image: url("photos/star.png");
	background-repeat: repeat;
}
#getstart {
	width: 100%;
	height: 250px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-size: 30px;
}
#getstart button {
	margin-left: 30px;
	width: 150px;
	height: 50px;
	background-color: #58cc02;
	color: white;
	border: 0px;
	border-radius: 15px;
	font-weight: bold;
	border-bottom: 4px solid green;
	cursor: pointer;
}
#tavanym {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 600px;
}
#tavanym div {
	width: 200px;
	color: #829ec0;
}
.ners {
	text-decoration-line: underline;
	cursor: pointer;
	line-height: 30px;
}
#tavanym p {
	text-decoration-line: none;
	color: white;
}
@media only screen and (max-width: 1080px) {
	#earth img {
		display: none;
	}
	#account {
		margin-top: 160px;
		margin-left: 30vw;
		width: 40vw;
	}
	.ust {
		display: none;
	}
	#tavanym div {
	width: 18vw;
	}
	#zurag3 {
		display: none;
	}
	#gurval div:nth-child(2) {
		width: 0;
	}
	#dropdown {
		right: 100px;
	}
	#getstart {
		font-size: 20px;
	}
}