.boxes {
    position: absolute;
    display: flex;
    flex-direction: row;
    white-space: nowrap;
}
.boxes *{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    padding-left: 10px;
    width: 100px;
    height: 150px;
    background-color: #eeeff2;
    border-left: 10px dotted #D0D0FF;
    margin-left: 10px;
    display: inline;
    white-space: nowrap;
}
.boxes *:hover {
    background-color: yellow;
    color: goldenrod;
}
#h {
    position: fixed;
    right: 10px;
    bottom: 10px;
}
button {
    position: absolute;
    left: 0px;
    bottom: 0px;
}