body {
	background-color: orange;
	font-family: verdana;
}
.container {
	width: 70%;
	/*background-color: yellow;*/
	margin: 0 auto;
	background-color: yellow;
	height: 100%;
}
.menu {
	position: relative;
	width: 100%;
	height: 100px;
	/*background-color: whitesmoke;*/
}
.main {
	width: 100%;
	height: 350px;
	position: relative;
}
img {
	margin: 20px auto auto 50px;
	width: 30%;
}
.alphabet {
	width: 100%;
	/*margin-top: 50px;*/
	/*background-color: blue;*/
}
.buttons button {
	width: 40px;
	height: 40px;
	color: white;
	font-size: 25px;
}
.menu button {
	color: white;
	height: 40px;
	width: 150px;
}
#ami {
	position: absolute;
	right: 30px;
	top: 50px;
	font-size: 20px;
	width: 25%;
	color: red;
}
#ug {
	margin: 0px auto;
	position: absolute;
	left: 50%;
	bottom: 100px;
	width: 40%;
}
#restart {
	position: absolute;
	left: 30px;
	top: 50px;
}
#sejuur {
	position: absolute;
	right: 30px;
	top: 50px;
}
#hint {
	padding-top: 20px;
}
button {
	font-family: Verdana;
	background-color: darkblue;
}
p {
	font-size: 20px;
}
@media only screen and (max-width: 830px) {
	.menu button {
		width: 100px;
		height: 50px;
		font-size: 15px;
	}
	.buttons button {
		width: 5%;
		font-size: 10px;
		height: 20%;
	}
	.alphabet {
		margin-top: 0px;
		margin-bottom: 10px;
	}
	img {
		width: 40%;
	}
}